{{#> layout }}

	<h1>{{service.serviceName}}</h1>

	{{markdown service.desc}}

	{{#each service.exposing}}
		<section class="subject" id="{{subject}}">
			<h2>{{subject}}</h2>
						
			{{markdown desc}}

				

				<h3>Examples</h3>

				<p>Create a user</p>

				<div class="code-block">
					<div class="code-block-nav">
						<a href="" class="active">REQUEST</a>
						<a href="">RESPONSE</a>
					</div>
					<div class="code-content">
						<div class="desc">
							<code>// An optional description about this particular example request</code>
						</div>
						
	<pre><code>{
		data:   {
		  "roles": ["ADMIN"],
		  "firstName": "Viktor",
		  "middleName": "Ludvig", 
		  "lastName": "Söderström",
		  "email": "viktors@frostdigital.se",
		  "password": "Localhost:8080"
		}
	}</code></pre>

					</div>
				</div>

				<table>
					<thead>
						<tr>
							<th>SCOPES</th>						
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>admin.*</td>
						</tr>
					</tbody>
				</table>

				<table>
					<thead>
						<tr>
							<th>ERROR CODES</th>						
							<th>Status</th>						
							<th>Title</th>						
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>user-service.USER_NOT_UPDATED</td>
							<td>400</td>
							<td>User not updated</td>
						</tr>
						<tr>
							<td>user-service.USER_NOT_UPDATED</td>
							<td>400</td>
							<td>User not updated</td>
						</tr>
						<tr>
							<td>user-service.INTERNAL_SERVER_ERROR</td>
							<td>500</td>
							<td>Something that should not broke just broke</td>
						</tr>
					</tbody>
				</table>			
			</section>
	{{/each}}



{{/layout}}
